body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

main{
    color: #E78EA5;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One" , sans-serif;
    width: 16%;
    background-color: pink;
}

ul {
    margin: 0px;
}

body > header{
    color: #373737; 
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
    list-style: none;
}

#nav-ul {
    background-color: pink;
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}
.navbutton {
    color: #373737;
    text-decoration: none;
    padding: 12px;
    border: 1px solid #373737;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-contant > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer{
    background-color: pink;
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > h3 > li {
    margin-left: 15px;
    color: #373737;
    text-decoration: none;
}


img{
    border-radius: 100%;
}