content {
    display: grid;
    gap: 10px;
    grid-template:
      "header header header" auto
      "main-content content1 content1" 1fr
      "footer footer footer" auto;
  }

  body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

#main-header{
    background-color: pink;
}


#logo {
    margin: 0px;
    padding: 6px;
    font-family: "Fredoka One" , sans-serif;
    width: 16%;
    background-color: pink;
}

#main-content > aside {
    display: flex
    
}

ul {
    margin: 0px;
}

body > header{
    color: grey; 
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
  text-decoration: none;  
  list-style: none;
}

#nav-ul {
    background-color: pink;
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}
.navbutton {
    color: grey;
    text-decoration: none;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#article1 {
    border: 1px solid black;  
}

#article2 {
    border: 1px solid black;
}

#article3 {
    border: 1px solid black;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-contant > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer{
    background-color: pink;
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

#footer-ul > div > h3 > li {
    margin-left: 15px;
    color: grey;
    text-decoration: none;
    justify-content: flex-end;
}


img{
    border-radius: 100%;
}